%h1 Dolbec Admin
%ul
  %li= link_to_if( can?(:manage, User), "Users", users_path)
  %li= link_to_if( can?(:manage, Banner), "Banners", banners_path)
  %li= link_to_if( can?(:manage, Company), "Companies", companies_path)
